numpy<=1.24
pandas>=0.19.2
scikit-learn
statsmodels
numba
nose
tensorboard
tensorflow>=1.3.0
scipy>=0.19.0
torch
torch_geometric
torch-geometric-temporal
networkx
matplotlib
PyIF
tabulate
future
pyyaml